<%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :campus %><br>
    <%= f.select :campus, [['관악캠퍼스', 'Gwanak'], ['연건캠퍼스', 'Yongon']] %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.select :category, [['치킨', '치킨'], ['피자', '피자'], ['중국집', '중국집'], ['한식/분식', '한식/분식'], ['도시락/돈까스', '도시락/돈까스'], ['족발/보쌈', '족발/보쌈'], ['냉면', '냉면'], ['기타', '기타']] %>
  </div>
  <div class="field">
    <%= f.label :openingHours %><br>
    <%= f.number_field :openingHours, step: 0.1 %>
  </div>
  <div class="field">
    <%= f.label :closingHours %><br>
    <%= f.number_field :closingHours, step: 0.1 %>
  </div>
  <div class="field">
    <%= f.label :has_flyer %><br>
    <%= f.check_box :has_flyer%>
  </div>
  <div class="field">
    <%= f.label :has_coupon %><br>
    <%= f.check_box :has_coupon%>
  </div>
  <div class="field">
    <%= f.label :coupon_string %><br>
    <%= f.text_field :coupon_string %>
  </div>
  <div class="field">
    <%= f.label :is_new %><br>
    <%= f.check_box :is_new %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
