<p id="notice"><%= notice %></p>

<h1><%= @restaurant.name %></h1>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Phone Numbers:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Campus:</strong>
  <%= @restaurant.campus %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @restaurant.category %>
</p>

<p>
  <strong> Opening Hours </strong>
  <%= @restaurant.opening_hours %><br>
  <strong> Closing Hours </strong>
  <%= @restaurant.closing_hours %>
</p>

<p>
  <strong> Coupon </strong>
  <%= @restaurant.has_coupon %><br>
  <Strong> Coupon String </string>
  <%= @restaurant.coupon_string %><br>
  <strong> New </strong>
  <%= @restaurant.is_new %>
</p>

<p>
<table>
  <tr>
    <th> Section </th>
    <th> Menu </th>
    <th> Price </th>
  </tr>
  <% @restaurant.menus.each do |m| %>
    <tr>
      <td><%= m.section %></td>
      <td><%= m.name %></td>
      <td><%= m.price %></td>
    </tr>
  <% end %>
</table>
</p>
<%= link_to 'Edit Restaurant', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Edit Menus', {:controller => 'menus', :action => 'index', :restaurant_id => @restaurant.id } %> |
<%= link_to 'Edit Flyers', {:controller => 'flyers', :action => 'index', :restaurant_id => @restaurant.id } %> |
<%= link_to 'Back', restaurants_path(:campus => @restaurant.campus) %>
