<h1><%= @restaurant.name %></h1>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Phone Numbers:</strong>
  <% @restaurant.phone_numbers.each do |p| %>
    <%= p %>, 
  <% end %>
</p>

<p>
  <strong>Campus:</strong>
  <%= @restaurant.campus %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @restaurant.category %>
</p>

<p>
  <strong> Opening Hours </strong>
  <%= @restaurant.openingHours %><br>
  <strong> Closing Hours </strong>
  <%= @restaurant.closingHours %>
</p>

<p>
  <strong> Flyer </strong>
  <%= @restaurant.flyer %><br>
  <strong> Coupon </strong>
  <%= @restaurant.coupon %>
</p>

<p>
<table>
  <tr>
    <th> Section </th>
    <th> Menu </th>
    <th> Price </th>
  </tr>
  <% @restaurant.menus.each do |m| %>
    <tr>
      <td><%= m.section %></td>
      <td><%= m.name %></td>
      <td><%= m.price %></td>
    </tr>
  <% end %>
</table>
</p>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
